body{
  background-color:rgb(248, 248, 234);
  margin: 0px auto;
}

.header{
  display: flex;
  flex-direction: column;
  height: 180px;
  background-color: #222;
  justify-content: flex-end;
  align-items: center;
  color: #eeeeee;
}
.header h1{
  font-size: 48px;
}

#recipe-image{
  margin: 0px;
  padding: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
#recipe-summary{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.recipe-container p,
.recipe-container h2{
  margin:10px
}


.btnSearch{
  font-size: 16px;
  background-color: white;
  color: #aaa;
  margin: 0px;
  height: 30px;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.input-search{
  font-size: 16px;
  width: 300px;
  height: 30px;
  margin: 0px 0px 0px 5px;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.input-search:focus{
  outline:none;
}
#search-container{
  margin-bottom: 20px;
  background-color: white;
  border-radius: 5px;
}


.recipes-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.recipe-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px;
  background-color: white;
  border-radius: 20px;
  flex-wrap: wrap;
  padding-bottom: 20px;
}

a{
  text-decoration: none;
  cursor: pointer;
  color: black;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #ECA325;
  width: 100px;
  text-align: center;
}

a:hover,
a:active{
  background-color: #b87e1a;
  color: beige;
}